<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public//css/index.css">
    <link rel="stylesheet" href="../public/css/base.css">
</head>

<body>
    <div class="cnode">

        <!-- nav -->
        <div class="nav">
            <div class="w clearfix">
                <div class="nav-left">
                    <img src="https://i.loli.net/2020/09/16/WPqCNZTKL6d12Qe.png" alt="">
                </div>

                <div class="nav-left-m">
                    <label for="search">
							<input type="text" name="search" id="" class="nav-search">
									</label>
                </div>

                <div class="nav-rigth">
                    <ul>
                        <li>
                            <a href="">首页</a>
                        </li>
                        <li>
                            <a href="">未读消息</a>
                        </li>
                        <li>
                            <a href="">新手入门</a>
                        </li>
                        <li>
                            <a href="">API</a>
                        </li>
                        <li>
                            <a href="">关于</a>
                        </li>
                        <li>
                            <a href="">设置</a>
                        </li>
                        <li>
                            <a href="">退出</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="md w">
            <!-- 文章展示 -->
            <div class="md-left">
                <div class="top">
                    <ul>
                        <li class="topactive">全部</li>
                        <li>精华</li>
                        <li>分享</li>
                        <li>问答</li>
                        <li>招聘</li>
                        <li>客户端</li>
                    </ul>
                </div>
                <div class="top-page"></div>
            </div>
            <!-- 个其他信息 -->
            <div class="md-right">
                <!-- 个人信息 -->
                <div class="md-right-top">
                    <span>个人信息</span>
                </div>
                <div class="md-right-md">
                </div>
            </div>
        </div>

        <div class="footer w">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>

</body>

</html>