{{extend '../_layouts/home.html'}}
<!--  -->
{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}
<!--  个人资料 -->
{{block 'body'}}
<section class="container">
    {{include '../_partials/settings-nav.html'}}
    <div class="col-md-5">
        <form id="profile_form">
            <div class="form-group">
                <label for="exampleInputEmail1">账号</label>
                <p class="form-control-static" name="email" id="exampleInputEmail1"> {{user.email}}</p>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">昵称</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="nickname" placeholder="{{user.nickname}}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">介绍</label>
                <textarea class="form-control" rows="3" name="bio">{{user.bio}}</textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" name="gender">性别</label>
                <div>
                    <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" {{user.gender==1? 'checked':null }}> 男
          </label>
                    <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" {{user.gender==0? 'checked':null }}> 女
          </label>
                    <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="-1" {{user.gender==-1? 'checked':null }}> 保密
          </label>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">生日</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="birthday" placeholder="{{user.birthday}}">
            </div>
            <button type="submit" class="btn btn-success">保存</button>
        </form>
    </div>
    <div class="col-md-2 profile-avatar">
        <dl>
            <dt>头像设置</dt>
            <dd>
                <!-- <img class="avatar" width="150" height="150" src="../public/img/avatart.png" alt=""> -->
                <div>
                    <form>
                        <input type="image" src="../public/img/avatart.png" alt="Submit">
                        <button class="btn btn-default" type="submit" href="">Upload new picture</button>
                    </form>
                </div>
            </dd>
        </dl>
    </div>
</section>
{{/block}} {{block 'script'}}
<script>
    // $('#profile_form').on('submit', e => {
    //     e.preventDefault()
    // })
</script>

{{/block}}